<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-title>Consolas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card *ngFor="let label of Consola">
      <ion-card-header>
        
        <ion-card-title>{{label.nombre}}</ion-card-title>
        <br>
        <img src={{label.img}} alt="" style="width: 10em;">
      </ion-card-header>
    
      <ion-card-content>
        <ion-list >
          <li> Precio:{{label.precio}}</li>
          <li> Tipo: {{label.tipo}}</li>
        </ion-list>
        <ion-button>Comprar</ion-button>
      </ion-card-content>
    </ion-card>

    
  </div>
</ion-content>


